## API 
### eg alpha vantage

In [2]:
from alpha_vantage.timeseries import TimeSeries

In [3]:
API_key="H456ZLCOCHH7CH10"

In [4]:
ts=TimeSeries(key=API_key,output_format='pandas')

In [5]:
data=ts.get_daily('AAPL')

In [6]:
data

(            1. open   2. high   3. low  4. close   5. volume
 date
 2023-07-21  194.100  194.9700  191.230    191.94  71951683.0
 2023-07-20  195.090  196.4700  192.495    193.13  59581196.0
 2023-07-19  193.100  198.2300  192.650    195.10  80507323.0
 2023-07-18  193.350  194.3300  192.415    193.73  48353774.0
 2023-07-17  191.900  194.3200  191.810    193.99  50520159.0
 ...             ...       ...      ...       ...         ...
 2023-03-06  153.785  156.3000  153.460    153.83  87558028.0
 2023-03-03  148.045  151.1100  147.330    151.03  70732297.0
 2023-03-02  144.380  146.7100  143.900    145.91  52279761.0
 2023-03-01  146.830  147.2285  145.010    145.31  55478991.0
 2023-02-28  147.050  149.0800  146.830    147.41  50546998.0

 [100 rows x 5 columns],
 {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-07-21',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'})

In [7]:
data[0]

            1. open   2. high   3. low  4. close   5. volume
date
2023-07-21  194.100  194.9700  191.230    191.94  71951683.0
2023-07-20  195.090  196.4700  192.495    193.13  59581196.0
2023-07-19  193.100  198.2300  192.650    195.10  80507323.0
2023-07-18  193.350  194.3300  192.415    193.73  48353774.0
2023-07-17  191.900  194.3200  191.810    193.99  50520159.0
...             ...       ...      ...       ...         ...
2023-03-06  153.785  156.3000  153.460    153.83  87558028.0
2023-03-03  148.045  151.1100  147.330    151.03  70732297.0
2023-03-02  144.380  146.7100  143.900    145.91  52279761.0
2023-03-01  146.830  147.2285  145.010    145.31  55478991.0
2023-02-28  147.050  149.0800  146.830    147.41  50546998.0

[100 rows x 5 columns]

In [8]:
data2=data[0]

In [9]:
data2.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [10]:
data2["4. close"].to_frame()

            4. close
date
2023-07-21    191.94
2023-07-20    193.13
2023-07-19    195.10
2023-07-18    193.73
2023-07-17    193.99
...              ...
2023-03-06    153.83
2023-03-03    151.03
2023-03-02    145.91
2023-03-01    145.31
2023-02-28    147.41

[100 rows x 1 columns]