In [2]:
a= -5
b = 6
c = a+b
print(c)

1

In [3]:
abs(a)

5

In [4]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
Apple = yf.download("AAPL", start = "2010-01-01",end ="2021-01-01")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-01-01 -> 2021-01-01)')

In [6]:
Apple

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [7]:
 a = [1,2,3,5]
a

[1, 2, 3, 5]

In [8]:
ticker=["SPY","AAPL","KO"]

In [9]:
stocks = yf.download(ticker, start = "2010-01-01",end ="2021-01-01")

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
['SPY', 'KO', 'AAPL']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-01-01 -> 2021-01-01)')

In [10]:
stocks

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [11]:
stocks.head()

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [12]:
stocks.tail()

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [13]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  0 non-null      float64
 1   (Adj Close, KO)    0 non-null      float64
 2   (Adj Close, SPY)   0 non-null      float64
 3   (Close, AAPL)      0 non-null      float64
 4   (Close, KO)        0 non-null      float64
 5   (Close, SPY)       0 non-null      float64
 6   (High, AAPL)       0 non-null      float64
 7   (High, KO)         0 non-null      float64
 8   (High, SPY)        0 non-null      float64
 9   (Low, AAPL)        0 non-null      float64
 10  (Low, KO)          0 non-null      float64
 11  (Low, SPY)         0 non-null      float64
 12  (Open, AAPL)       0 non-null      float64
 13  (Open, KO)         0 non-null      float64
 14  (Open, SPY)        0 non-null      float64
 15  (Volume, AAPL)     0 non-null      float64
 16  (Volume, KO)       0 non-null      float64
 17  (Volume, SPY)      0 non-null      float64
dtypes: float64(18)
memory usage: 0.0+ bytes

In [14]:
stocks.to_csv("stocksYT.csv")

In [15]:
stocks = pd.read_csv("stocksYT.csv")

In [16]:
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
stocks = pd.read_csv("stocksYT.csv",header=[0,1])
stocks

  Unnamed: 0_level_0 Adj Close         Close         High          Low      \
  Unnamed: 0_level_1      AAPL  KO SPY  AAPL  KO SPY AAPL  KO SPY AAPL  KO
0               Date       NaN NaN NaN   NaN NaN NaN  NaN NaN NaN  NaN NaN

      Open         Volume
  SPY AAPL  KO SPY   AAPL  KO SPY
0 NaN  NaN NaN NaN    NaN NaN NaN

In [18]:
stocks = pd.read_csv("stocksYT.csv",header=[0,1],index_col=[0])
stocks

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [19]:
stocks = pd.read_csv("stocksYT.csv",header=[0,1],index_col=[0], parse_dates=[0])
stocks

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [20]:
stocks.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',   'KO'),
            ('Adj Close',  'SPY'),
            (    'Close', 'AAPL'),
            (    'Close',   'KO'),
            (    'Close',  'SPY'),
            (     'High', 'AAPL'),
            (     'High',   'KO'),
            (     'High',  'SPY'),
            (      'Low', 'AAPL'),
            (      'Low',   'KO'),
            (      'Low',  'SPY'),
            (     'Open', 'AAPL'),
            (     'Open',   'KO'),
            (     'Open',  'SPY'),
            (   'Volume', 'AAPL'),
            (   'Volume',   'KO'),
            (   'Volume',  'SPY')],
           )

In [21]:
#convert mult index to one tuple
stocks.columns=stocks.columns.to_flat_index()

In [22]:
stocks.columns

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'KO'),  ('Adj Close', 'SPY'),
           ('Close', 'AAPL'),       ('Close', 'KO'),      ('Close', 'SPY'),
            ('High', 'AAPL'),        ('High', 'KO'),       ('High', 'SPY'),
             ('Low', 'AAPL'),         ('Low', 'KO'),        ('Low', 'SPY'),
            ('Open', 'AAPL'),        ('Open', 'KO'),       ('Open', 'SPY'),
          ('Volume', 'AAPL'),      ('Volume', 'KO'),     ('Volume', 'SPY')],
      dtype='object')

In [23]:
stocks

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [24]:
stocks.columns=pd.MultiIndex.from_tuples(stocks.columns)
stocks

Empty DataFrame
Columns: [(Adj Close, AAPL), (Adj Close, KO), (Adj Close, SPY), (Close, AAPL), (Close, KO), (Close, SPY), (High, AAPL), (High, KO), (High, SPY), (Low, AAPL), (Low, KO), (Low, SPY), (Open, AAPL), (Open, KO), (Open, SPY), (Volume, AAPL), (Volume, KO), (Volume, SPY)]
Index: []

In [25]:
stocks.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',   'KO'),
            ('Adj Close',  'SPY'),
            (    'Close', 'AAPL'),
            (    'Close',   'KO'),
            (    'Close',  'SPY'),
            (     'High', 'AAPL'),
            (     'High',   'KO'),
            (     'High',  'SPY'),
            (      'Low', 'AAPL'),
            (      'Low',   'KO'),
            (      'Low',  'SPY'),
            (     'Open', 'AAPL'),
            (     'Open',   'KO'),
            (     'Open',  'SPY'),
            (   'Volume', 'AAPL'),
            (   'Volume',   'KO'),
            (   'Volume',  'SPY')],
           )

In [26]:
stocks.describe()

       Adj Close           Close           High            Low           Open  \
            AAPL   KO  SPY  AAPL   KO  SPY AAPL   KO  SPY AAPL   KO  SPY AAPL
count          0    0    0     0    0    0    0    0    0    0    0    0    0
unique         0    0    0     0    0    0    0    0    0    0    0    0    0
top          NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
freq         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

                 Volume
         KO  SPY   AAPL   KO  SPY
count     0    0      0    0    0
unique    0    0      0    0    0
top     NaN  NaN    NaN  NaN  NaN
freq    NaN  NaN    NaN  NaN  NaN

In [27]:
close=stocks.loc[:,"Close"].copy()

In [28]:
close

Empty DataFrame
Columns: [AAPL, KO, SPY]
Index: []

In [29]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [30]:
close.plot(figsize=(15,8),fontsize=12)
plt.legend(fontsize=12)
plt.show()

TypeError: no numeric data to plot

In [ ]:
close.iloc[0,0]

In [ ]:
close.AAPL

In [ ]:
close.AAPL.div(close.iloc[0,0])

In [ ]:
close.AAPL.div(close.iloc[0,0]).mul(100)

In [ ]:
close.iloc[0]

In [ ]:
close.div(close.iloc[0]).mul(100)

In [ ]:
normclose=close.div(close.iloc[0]).mul(100)

In [ ]:
normclose.plot(figsize=(15,8),fontsize=12)
plt.legend(fontsize=12)
plt.show()

In [ ]:
aapl= close.AAPL.copy().to_frame()

In [ ]:
aapl

In [ ]:
aapl.shift(periods=1)

In [ ]:
aapl["lag1"]=aapl.shift(periods=1)

In [ ]:
aapl

In [ ]:
aapl["Diff"]=aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl

In [ ]:
aapl["% Change"]=aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl

In [ ]:
aapl["Diff2"]=aapl.AAPL.diff(periods=1)
aapl

In [ ]:
aapl["% Change 2"]=aapl.AAPL.pct_change(periods=1).mul(100)

In [ ]:
aapl

In [ ]:
del aapl["% Change"]

In [ ]:
aapl

In [ ]:
aapl.rename(columns = {'% Change 2':'Change'}, inplace = True)

In [ ]:
aapl

In [ ]:
aapl.AAPL.resample("M").last()

In [ ]:
aapl.AAPL.resample("BM").last().pct_change(periods=1).mul(100)

In [ ]:
aapl

In [ ]:
del aapl["Change"]
del aapl["Diff2"]
del aapl["Diff"]
del aapl["lag1"]

In [ ]:
aapl

In [ ]:
ret = aapl.pct_change().dropna()

In [ ]:
ret.info()

In [ ]:
ret.plot(kind="hist",figsize=(12,8), bins=100)
plt.show()

In [ ]:
daily_mean_ret=ret.mean()
daily_mean_ret

In [ ]:
var_daily=ret.var()
var_daily

In [ ]:
std_daily=np.sqrt(var_daily)

In [ ]:
std_daily

In [ ]:
ret.std()

In [ ]:
annual_mean_ret=daily_mean_ret*252
annual_mean_ret

In [ ]:
annual_var_return=var_daily*252
annual_var_return

In [ ]:
annual_std_retuens=np.sqrt(annual_var_return)

In [ ]:
annual_std_retuens

In [ ]:
ret.std()*np.sqrt(252)

In [ ]:
ticker=["SPY","AAPL","KO","IBM","DIS","MSFT"]

In [ ]:
stocks = yf.download(ticker, start = "2010-01-01",end ="2021-01-01")

In [ ]:
close=stocks.loc[:,"Close"].copy()

In [ ]:
normclose=close.div(close.iloc[0]).mul(100)

In [ ]:
normclose.plot(figsize=(15,8),fontsize=12)
plt.legend(fontsize=12)
plt.show()

In [ ]:
ret=close.pct_change().dropna()
ret.head()

In [ ]:
ret.describe().T

In [ ]:
summary=ret.describe().T.loc[:,["mean","std"]]
summary

In [ ]:
summary["mean"]=summary["mean"]*252
summary["std"]=summary["std"]*np.sqrt(252)
summary

In [ ]:
summary.plot.scatter(x="std",y="mean",figsize=(12,8),s=50,fontsize=15)
for i in summary.index:
    plt.annotate(i,xy=(summary.loc[i,"std"]+0.002,summary.loc[i,"mean"]+0.002),size=15)
plt.xlabel("Annual risk(std)",fontsize = 15)
plt.ylabel("Annual return",fontsize = 15)
plt.title("Risk/return",fontsize=25)
plt.show()

In [ ]:
fruits = ["aaple","banaba","mango"]
for i in fruits:
    print(i)

In [ ]:
fruits[1]

## Correlation and Covariance

In [ ]:
# comment

In [ ]:
ret

In [ ]:
ret.cov()

In [ ]:
ret.corr()

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(ret.corr(),cmap="Reds",annot=True,annot_kws={"size":15},vmax=0.6)
plt.show()

## Challenge 1
### Download 20 random stocks and 
### 1. Calcualte risk and reward potential 
### 2. Compare the covariance and coorelation
### 3. Find the best 5 to invest in long term

# Simple returns and log returns

In [ ]:
df = pd.DataFrame(index=[2016,2017,2018],data=[100,50,95],columns=["Price"])

In [ ]:
df

In [ ]:
simplereturns=df.pct_change().dropna()
simplereturns

In [ ]:
simplereturns.mean()

In [ ]:
100*1.2*1.2

In [ ]:
#Mean returns are misleading as crazy

In [ ]:
logreturns=np.log(df/df.shift(1)).dropna()
logreturns

In [ ]:
logreturns.mean()

In [ ]:
100*np.exp(logreturns.mean()*2)

In [ ]:
SPY = yf.download("SPY")

In [ ]:
spy=SPY.Close.to_frame()

In [ ]:
spy

In [ ]:
spy.plot(figsize=(12,8),fontsize=15)
plt.legend(loc="upper left", fontsize=15)
plt.show()

In [ ]:
spy_roll=spy.rolling(window=10)

In [ ]:
spy_roll=spy_roll.mean()

In [ ]:
spy_roll.head(15)

In [ ]:
spy.rolling(window=10).median()

In [ ]:
spy.rolling(window=10).max()

In [ ]:
spy.rolling(window=10,min_periods=5).max()

In [ ]:
spy

In [ ]:
spy["SMA50"]=spy.rolling(window=50,min_periods=50).mean()

In [ ]:
spy

In [ ]:
spy.plot(figsize=(12,8),fontsize=15)
plt.legend(loc="upper left", fontsize=15)
plt.show()

In [ ]:
spy["SMA200"]=spy.Close.rolling(window=200,min_periods=200).mean()
spy

In [ ]:
spy.plot(figsize=(12,8),fontsize=15)
plt.legend(loc="upper left", fontsize=15)
plt.show()

## Challenge 2
### Take the 5 stocks that you picked and plot the moving averages and graph it

In [ ]:
spy["EMA100"]=spy.Close.ewm(span=100,min_periods=100).mean()

In [ ]:
spy

In [ ]:
spy.plot(figsize=(12,8),fontsize=15)
plt.legend(loc="upper left", fontsize=15)
plt.show()

In [ ]:
spy["Day"]=spy.index.day_name()

In [ ]:
spy["Quarter"]=spy.index.quarter

In [ ]:
SPY = yf.download("SPY")

In [ ]:
spy=SPY.Close.to_frame()

In [ ]:
all_days=pd.date_range(start="2010-12-31",end="2020-01-01",freq="D")
all_days

In [ ]:
spy

In [ ]:
spy=spy.reindex(all_days)

In [ ]:
spy

In [ ]:
spy.fillna(method="ffill")

In [ ]:
spy.fillna(method="bfill")

In [ ]:
SPY = yf.download("SPY",interval="1wk")

In [ ]:
SPY

## Cummaltive Returns, Drawdowns etc..

In [ ]:
apple=yf.download("AAPL")

In [ ]:
apple=apple.Close.to_frame()

In [ ]:
apple

In [ ]:
apple["d_returns"]=np.log(apple.div(apple.shift(1)))

In [ ]:
apple

In [ ]:
apple.dropna(inplace=True)

In [ ]:
apple

In [ ]:
apple.d_returns.sum()

In [ ]:
np.exp(apple.d_returns.sum())

In [ ]:
apple["cummreturns"]=apple.d_returns.cumsum().apply(np.exp)

In [ ]:
apple

In [ ]:
apple.cummreturns.plot(figsize=(12,8),title="APPLe buy and hold", fontsize=12)
plt.show()

In [ ]:
apple.d_returns.mean()*252

In [ ]:
apple.d_returns.std()*np.sqrt(252)

In [ ]:
# how to calculate drawdowns
apple["cummmax"]=apple.cummreturns.cummax()

In [ ]:
apple

In [ ]:
apple[["cummreturns","cummmax"]].plot(figsize=(12,8),title="APPLe buy and hold+cummmax", fontsize=12)
plt.show()

In [ ]:
apple["drawdown"]=apple["cummmax"]-apple["cummreturns"]

In [ ]:
apple

In [ ]:
apple.drawdown.max()

In [ ]:
apple.drawdown.idxmax()

In [ ]:
apple.loc[(apple.index<='2020-09-18')]

In [ ]:
apple["drawdown%"]=(apple["cummmax"]-apple["cummreturns"])/apple["cummmax"]

In [ ]:
apple

In [ ]:
apple["drawdown%"].max()

In [ ]:
apple["drawdown%"].idxmax()

In [ ]:
apple.loc[(apple.index<='1997-12-23')]

## SMA Strategy

In [ ]:
data=apple.Close.loc[(apple.index>='1991-01-01')]

In [ ]:
data=data.to_frame()

In [ ]:
data

In [ ]:
sma_s=50
sma_l=100

In [ ]:
data["sma_s"]=data.Close.rolling(sma_s).mean()
data["sma_l"]=data.Close.rolling(sma_l).mean()

In [ ]:
data

In [ ]:
data.plot(figsize=(12,8),title="AAPLE - SMA{} | SMA{}".format(sma_s,sma_l), fontsize=12)

In [ ]:
data.loc["2016"].plot(figsize=(12,8),title="AAPLE - SMA{} | SMA{}".format(sma_s,sma_l), fontsize=12)

In [ ]:
data.dropna(inplace=True)

In [ ]:
data

In [ ]:
data["position"]=np.where(data["sma_s"]>data["sma_l"],1,-1)

In [ ]:
data

In [ ]:
data.loc["2016",["sma_s","sma_l","position"]].plot(figsize=(12,8),title="AAPLE - SMA{} | SMA{}".format(sma_s,sma_l), fontsize=12,secondary_y="position")

In [ ]:
data["returnsb&h"]=np.log(data.Close.div(data.Close.shift(1)))

In [ ]:
data["strategy"]=data["returnsb&h"]*data.position.shift(1)

In [ ]:
data

In [ ]:
data.dropna(inplace=True)

In [ ]:
data[["returnsb&h","strategy"]].sum()

In [ ]:
data[["returnsb&h","strategy"]].sum().apply(np.exp) # what 1$ will be

In [ ]:
data[["returnsb&h","strategy"]].std()*np.sqrt(252) #annyal std

In [ ]:
data.Close.plot(figsize=(12,8))

## Strategy adjusted with long bias

In [ ]:
data["position2"]=np.where(data["sma_s"]>data["sma_l"],1,0)

In [ ]:
data["strategy2"]=data["returnsb&h"]*data.position2.shift(1)

In [ ]:
data.dropna(inplace=True)

In [ ]:
data[["returnsb&h","strategy2"]].sum()

In [ ]:
data[["returnsb&h","strategy2"]].sum().apply(np.exp) # what 1$ will be

In [ ]:
data[["returnsb&h","strategy2"]].std()*np.sqrt(252)

In [ ]:
## Strategy 2 is better than strategy 1
data[["strategy","strategy2"]].std()*np.sqrt(252)

## Find the best SMA for the top 5 stocks
## Create a bias strategy
## Compare drawdowns
## Pick the best 3 stocks for your portfolio

# Creating our first function

In [ ]:
def test_strategy(stock,start,end,SMA):
    df=yf.download(stock,start=start,end=end)
    data=df.Close.to_frame()
    data["returns"]=np.log(data.Close.div(data.Close.shift(1)))
    data["SMA_S"]=data.Close.rolling(int(SMA[0])).mean()
    data["SMA_L"]=data.Close.rolling(int(SMA[1])).mean()
    data.dropna(inplace=True)
    
    data["position"]=np.where(data["SMA_S"]>data["SMA_L"],1,-1)
    data["strategy"]=data["returns"]*data.position.shift(1)
    data.dropna(inplace=True)
    ret=np.exp(data["strategy"].sum())
    std= data["strategy"].std()*np.sqrt(252)
    
    return ret,std

In [ ]:
test_strategy("SPY","2000-01-01","2020-01-01",(50,200))

## Creating our first class

In [ ]:
class SMABacktester():
    def __init__(self,symbol,SMA_S, SMA_L,start,end):
        self.symbol=symbol
        self.SMA_S=SMA_S
        self.SMA_L=SMA_L
        self.start=start
        self.end=end
        self.results=None
        self.get_data()
        
    def get_data(self):
        df=yf.download(self.symbol,start=self.start,end=self.end)
        data=df.Close.to_frame()
        data["returns"]=np.log(data.Close.div(data.Close.shift(1)))
        data["SMA_S"]=data.Close.rolling(self.SMA_S).mean()
        data["SMA_L"]=data.Close.rolling(self.SMA_L).mean()
        data.dropna(inplace=True)
        self.data2=data
        
        return data
    
    def test_results(self):
        data=self.data2.copy().dropna()
        data["position"]=np.where(data["SMA_S"]>data["SMA_L"],1,-1)
        data["strategy"]=data["returns"]*data.position.shift(1)
        data.dropna(inplace=True)
        data["returnsbh"]=data["returns"].cumsum().apply(np.exp)
        data["returnsstrategy"]=data["strategy"].cumsum().apply(np.exp)
        perf=data["returnsstrategy"].iloc[-1]
        outperf=perf-data["returnsbh"].iloc[-1]
        self.results=data
        
        ret=np.exp(data["strategy"].sum())
        std= data["strategy"].std()*np.sqrt(252)
    
        #return ret,std
        return round(perf,6), round(outperf,6)
    
    def plot_results(self):
        if self.results is None:
            print("Run the test please")
        else:
            title="{}| SMA_S={} | SMA_L{}".format(self.symbol,self.SMA_S, self.SMA_L)
            self.results[["returnsbh","returnsstrategy"]].plot(title=title, figsize=(12,8))

In [ ]:
tester= SMABacktester("SPY",50,100, "2000-01-01","2020-01-01")

In [ ]:
tester.test_results()

In [ ]:
tester.plot_results()